form {
  color: #124276;
}

.hr-title {
  background-color: white;
  height: 4px;
  width: 70px;
  margin-top: 28px;
  margin-bottom: 5px;
}

.form-check {
  font-size: 15px;
}

.card-choice {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #124276;
  margin-bottom: 10px;
}

.question-header {
  font-size: 17px;
  padding-bottom: 15px;
}

.question-content {
  background-color: #c8d4dc;
  padding: 15px;
  border-radius: 10px;
}

.description-icon {
  font-size: 18px;
}

.hr-sep {
  background-color: white;
  height: 2px;
  margin-top: 28px;
  margin-bottom: 5px;
}

.sep {
  background-color: white;
  margin-top: 35px;
}

.button-center {
  display: flex;
  justify-content: center;
  margin: 30px 0px 15px 0px;
}

.btn {
  width: 100%;
}
